.bidding-page-warpper{
  min-height: 65rem;
}
.seats {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  margin-top: 5%;

  .seat {
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    background-image: url("https://w7.pngwing.com/pngs/755/218/png-transparent-coffee-tables-bar-interior-design-services-furniture-bar-table-kitchen-furniture-drawer.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 100px;
    // transform: rotate(180deg);
  }
}

.productImage {
  width: 20em;
  height: 20em;
  object-fit: fill;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  border-radius: 6px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase li small {
  margin-left: 2px;
}
.row {
  display: flex;
}

.screen {
  margin: auto;
  margin-top: 7%;
  background-color: #fff;
  max-height: 320px;
  max-width: 750px;
  transform: rotateX(-15deg);
  box-shadow: 0 3px 10px rgb(0, 0, 0);
}

p.text {
  margin: 5px 0;
}
p.text span {
  color: rgb(36, 175, 209);
}
.tableContainer {
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
}

#table-wrapper {
  width: 30%;
  left: 25%;
  height: 250px;
  transform: rotate(-90deg);
  top: 100px;
  .the-table {
    background-color: #790e3d;
    background-position: center;
    position: absolute;
    border-radius: 50%;
    left: 100px;
    top: 100px;
    height: 200px;
    width: 200px;
    box-shadow: 0 10px 15pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
  }
  .chair {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;

    &:nth-child(1) {
      background-image: url("https://static.thenounproject.com/png/1393788-200.png");
      background-size: cover;

      left: 180px;
      transform: rotate(160deg);
    }
    &:nth-child(2) {
      background-image: url("https://static.thenounproject.com/png/1393788-200.png");
      background-size: cover;
      top: 79px;
      left: 10px;
      transform: rotate(90deg);
    }
    &:nth-child(3) {
      background-image: url("https://static.thenounproject.com/png/1393788-200.png");
      background-size: cover;
      top: 150px;
      left: 160px;
    }
    &:nth-child(4) {
      background-image: url("https://static.thenounproject.com/png/1393788-200.png");
      background-size: cover;
      top: -79px;
      left: 311px;
      transform: rotate(-90deg);
    }
  }
}

.show {
  display: block;
  background-color: #ad1457;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  transform: rotate(90deg);
}

.hide {
  display: none;
}

.bidingSign {
  transform: rotate(20deg);
}
