.backGroundImg {
  background-image: url("https://image.flaticon.com/icons/png/512/1255/1255501.png");
  opacity: 0.8;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5%;
  height: 20em;
}

